name: "Mutation Tests"

on:
  push:
    branches:
      - "main"

jobs:
  mutation-tests:
    name: "Mutation Tests"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "pcov"
          php-version: "7.4"
          ini-values: memory_limit=-1

      - name: Get Composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-dir)"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-latest-7.4-${{ hashFiles('composer.*') }}
          restore-keys: composer-latest-7.4-${{ hashFiles('composer.*') }}

      - name: "Install latest dependencies"
        run: "composer update --no-interaction --no-progress"

      - name: "Run Tests with Coverage"
        run: "vendor/bin/phpunit --coverage-xml=build/coverage/coverage-xml --log-junit=build/coverage/junit.xml --exclude-group=Smoke"

      - name: "Run mutation tests"
        run: "vendor/bin/infection --configuration=infection.json --skip-initial-tests --coverage=build/coverage"

      - name: "Show Infection Log"
        if: always()
        run: "cat build/infection/infection-log.txt"
