name: "Mutation Tests - Pull Request Annotations"

on:
  pull_request:

jobs:
  mutation-tests:
    name: "Mutation Tests"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "pcov"
          php-version: "7.4"
          ini-values: memory_limit=-1

      - name: Get Composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-dir)"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-latest-${{ hashFiles('composer.*') }}
          restore-keys: composer-latest-${{ hashFiles('composer.*') }}

      - name: "Install latest dependencies"
        run: "composer update --no-interaction --no-progress"

      - name: "Run mutation tests"
        run: |
          git fetch --depth=1 origin $GITHUB_BASE_REF
          vendor/bin/infection --configuration=infection.json --git-diff-filter=AM --git-diff-base=origin/$GITHUB_BASE_REF --logger-github
